{% if paginator.total_pages > 1 %}
    <nav class="pagination wrapper">
        {% if paginator.previous_page %}
            <a class="btn btn-primary btn-newer-posts" href="{{ paginator.previous_page_path }}" title="Newer Posts" rel="prev">
                &larr; Newer Posts
            </a>
        {% endif %}
        {% if paginator.next_page %}
            <a class="btn btn-primary btn-older-posts" href="{{ paginator.next_page_path }}" title="Older Posts" rel="next">
                Older Posts &rarr;
            </a>
        {% endif %}
    </nav>
{% endif %}
