@mixin button-variant($color) {
  color: $color;
  border-color: $color;
  transition: all 0.15s ease-out;

  &:hover {
    color: darken($color, 35%);
    border-color: darken($color, 25%);
    transition: all 0.25s ease-in;
  }
}
