// Screen size.
$screen-xs: 480px;
$screen-sm: 768px;

// Fonts.
$font-main: 'Trebuchet MS', Helvetica, sans-serif;
$font-heading: Arial, Helvetica, sans-serif;
$font-monospace: 'Courier New', Courier, monospace;
$font-size-xs: 17px;
$font-size-sm: 20px;

// Colors.
$color-main: #333;
$color-primary: #5694f1;
$color-primary-active: #eb298c;

$border-radius-base: 3px;

// Wrapper.
$bg-color: #f7f7f7;
$wrapper-padding: 20px;
$wrapper-sm-width: 90%;
$wrapper-max-width: 800px;

// Header.
$header-bg-color: #ffe200;

// Navigation.
$navigation-bg-color: #fff;
$navigation-xs-width: 240px;
$navigation-sm-width: 320px;
