@import 'theme/variables';

// General.
html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
  font-size: $font-size-xs;

  @media (min-width: $screen-sm) {
    font-size: $font-size-sm;
  }
}

body {
  font-size: 1rem;
}

a {
  color: $blue-light;
  text-decoration: none;
}

p {
  font-size: 1.15rem;
  line-height: 1.8rem;
}

.wrapper-box {
  max-width: $wrapper-max-width;
  padding: 0 $wrapper-padding;
  box-sizing: border-box;
}

.wrapper {
  @extend .wrapper-box;
  margin: 0 auto;
}

// Buttons.
.btn {
  padding: 0.5rem 0.7rem;
  border-radius: $btn-border-radius;
  border: 1px solid $btn-primary-color;
}

// Code.
figure.highlight,
div.highlighter-rouge {
  margin: 0;

  pre {
    padding: 10px;
    overflow-y: auto;
    background-color: #f7f7f7;
    box-sizing: border-box;
  }
}

code.highlighter-rouge {
  font-size: 90%;
  color: #d14;
  background-color: #f7f7f7;
  padding: 1px 5px;
}

// Header.
.header-index {
  text-align: center;
  margin: $header-padding auto;

  img {
    display: none;
  }

  h1 {
    font-size: 2rem;
    text-transform: uppercase;

    a {
      color: $heading-normal-color;
    }
  }

  h2 {
    font-size: 1.4rem;
    font-weight: 300;
    color: #333;
  }

  .highlight {
    color: $pink;
  }
}

.header {
  text-align: left;
  margin: $header-padding auto;
}

.header-heading {
  @media (min-width: $screen-sm) {
    text-align: center;
  }

  a {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 0.5rem 0.7rem;
    display: inline-block;
    background-color: #000;
    border-radius: $btn-border-radius;
  }
}

// Navigation.
.navbar {
  display: none;
}

// Index.
.wrapper-index  {
  h2 {
    font-size: 1.7rem;

    a {
      color: $heading-normal-color;
    }
  }

  .post-meta {
    font-size: 1rem;
    color: $grey-lighter;
  }
}

// Post.
.wrapper-post {
  header {
    text-align: center;
  }

  h1 {
    font-size: 2.2rem;
  }

  .post-meta {
    color: $grey-lighter;
  }

  ul, ol {
    li {
      font-size: 1.15rem;
      line-height: 1.8rem;
    }
  }

  img {
    display: block;
    max-width: 100%;
  }
}

// Footer.
.footer {
  text-align: center;
  background-color: #fafafa;
  margin-top: 4rem;
  padding: 2rem 0;
}
