.header {
  @include clearfix;
  padding: $wrapper-padding;
  background-color: $header-bg-color;

  .logo {
    font-size: 1rem;
    display: inline-block;
    margin: 0;

    a {
      color: $color-main;
    }
  }
}

.header-btn {
  font-size: 1rem;
  font-family: $font-heading;
  font-weight: 600;
  color: $color-main;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.2rem;
  display: inline-block;
  width: 6rem;
  padding: 0.5rem;
  background-color: transparent;
  border: 2px solid $color-main;
  box-sizing: border-box;
}

.btn-navbar-open {
  float: right;
}
