.wrapper-index {
  article {
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #f4f4f4;

    &:last-of-type {
      padding-bottom: 0;
      border-bottom: none;
    }
  }
}

.post-header {
  margin-bottom: 0.5rem;
}

.post-title {
  margin-bottom: 0.5rem;
}

.post-meta {
  font-size: 1rem;
  color: #ccc;
}
