.btn {
  font-weight: 300;
  color: $btn-default-color;
  text-align: center;
  display: inline-block;
  padding: 0.5rem 0.7rem;
  background-color: transparent;
  background-image: none;
  border-radius: $btn-border-radius;
  border: 1px solid $btn-default-color;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
}

.btn-default {
  @include button-variant($btn-default-color);
}

.btn-primary {
  @include button-variant($btn-primary-color);
}

.btn-error {
  @include button-variant($btn-error-color);
}
