figure.highlight,
div.highlighter-rouge {
  margin: 1rem 0;

  @media (min-width: $screen-sm) {
    margin: 1.5rem 0;
  }

  pre {
    font-size: 0.85rem;
    line-height: 1.4rem;
    padding: 10px;
    overflow-y: auto;
    background-color: #f7f7f7;
    box-sizing: border-box;
    border-radius: 3px;

    @media (min-width: $screen-sm) {
      font-size: 0.8rem;
      line-height: 1.25rem;
      padding: 15px;
    }
  }
}

code.highlighter-rouge {
  font-size: 90%;
  color: #d14;
  background-color: #f7f7f7;
  border-radius: 3px;
  padding: 1px 5px;
}
