html {
  font-size: $font-size-xs;

  @media (min-width: $screen-sm) {
    font-size: $font-size-sm;
  }
}

body {
  font-size: 1rem;
  font-family: $font-main;
}

h1,
h2 {
  font-family: $font-heading;
  font-weight: 900;
}

a {
  color: $blue-light;
  text-decoration: none;
  transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease;

  &:hover {
    color: $pink;
    transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
  }
}

p {
  font-size: 1.15rem;
  line-height: 1.8rem;
  margin: 1rem 0;
}

blockquote {
  margin: 1.8rem 0;
  padding: 1rem;
  border-left: 5px solid #eee;

  @media (min-width: $screen-sm) {
    border-left-width: 7px;
  }

  p:last-child {
    margin: 0;
  }
}

pre,
code {
  font-family: 'Courier New', Courier, monospace;
}

.wrapper-box {
  max-width: $wrapper-max-width;
  padding: 0 $wrapper-padding;
  box-sizing: border-box;
}

.wrapper {
  @extend .wrapper-box;
  margin: 0 auto;
}
