html {
  font-size: $font-size-xs;

  @media (min-width: $screen-sm) {
    font-size: $font-size-sm;
  }
}

body {
  font-size: 1rem;
  font-family: $font-main;
}

h1,
h2 {
  font-family: $font-heading;
  font-weight: 900;
}

a {
  text-decoration: none;
  transition: all 0.15s ease;

  &:hover {
    transition: all 0.25s ease;
  }
}

.wrapper-box {
  max-width: $wrapper-max-width;
  padding: 0 $wrapper-padding;
  box-sizing: border-box;
}

.wrapper {
  @extend .wrapper-box;
  margin: 0 auto;
}
