.header-main {
  text-align: center;
  margin: 2rem auto 2rem auto;

  img {
    width: 100px;
    border-radius: 100%;
    margin-bottom: 0.5rem;
  }

  h1 {
    text-transform: uppercase;
    margin: 0 0 0.5rem 0;
  }

  h2 {
    font-family: $font-main;
    font-size: 1.4rem;
    font-weight: 300;
    color: #333;
    margin: 0;
  }

  .highlight {
    color: $pink;
  }
}
