.wrapper-index {
  article {
    margin-bottom: 1.6rem;
    padding-bottom: 1.6rem;
    border-bottom: 1px solid #f4f4f4;
  }

  header {
    margin-bottom: 0.7rem;
  }

  h2 {
    font-size: 1.7rem;
    line-height: 2.3rem;
    margin: 0 0 0.7rem 0;

    a {
      color: $heading-normal-color;

      &:hover {
        color: $heading-active-color;
      }
    }
  }

  .post-meta {
    font-size: 1rem;
    color: $grey-lighter;
  }

  p {
    font-size: 1.15rem;
    line-height: 1.8rem;
    margin: 0 0 1rem 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
