html {
  font-family: $font-main;
  line-height: 1.75rem;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, figure, footer, header, main, nav, section {
  display: block;
}

code, pre {
  font-family: $font-monospace;
  font-size: 1rem;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

b, strong {
  font-weight: inherit;
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

figure {
  margin: 1rem 0;
}

svg:not(:root) {
  overflow: hidden;
}

button {
  font-family: $font-main;
  font-size: 100%;
  text-transform: none;
  line-height: 1.5rem;
  margin: 0;
  overflow: visible;
}

button,
html [type="button"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[hidden] {
  display: none;
}
