// Screen size.
$screen-xs: 480px;
$screen-sm: 768px;

// Fonts.
$font-main: 'Trebuchet MS', Helvetica, sans-serif;
$font-heading: Arial, Helvetica, sans-serif;
$font-monospace: 'Courier New', Courier, monospace;
$font-size-xs: 18px;
$font-size-sm: 20px;

// Wrapper.
$wrapper-padding: 20px;
$wrapper-max-width: 800px;
